<?php
/**
 * 
 * 
 * @var  string  $path
 */
$iterator = new RecursiveDirectoryIterator($path);
?>
<ul>
    <?php if(count($iterator)): ?>
    <?php foreach($iterator as $child): ?>
    <li>
        <?php if($child->isDir()): ?>
        <?php echo $child->getFilename() ?>
        <?php echo $view->render('GitWikiBundle:Wiki:filetree.php.html', array('path' => $child->getPathname())) ?>
        <?php else: ?>
        <a href="#" title="View this page"><?php echo $child->getFilename() ?></a>
        <?php endif ?>
    </li>
    <?php endforeach ?>
    <?php else: ?>
    <li><em>Empty</em></li>
    <?php endif ?>
</ul>